[defaults]
roles_path = roles
timeout = 60

#hostfile       = /etc/ansible/hosts
hostfile       = 
inventory      = 
library        = /usr/share/ansible
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 10
poll_interval  = 15
sudo           = True
#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
transport      = smart
remote_port    = 22

remote_user = ansibleawx
executable = /bin/bash
error_on_undefined_vars = True

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0

[windows:vars]
ansible_connection=winrm
ansible_user=ansibleawx
ansible_winrm_transport=basic
ansible_password=REDACTED_IF_IN_AWX
ansible_port=5985
ansible_winrm_server_cert_validation=ignore
