---
- name: Including task for Almalinux9/Redhat9
  include_tasks: almalinux9_agent2.yml
  when:
    - ansible_distribution == "AlmaLinux"
    - ansible_distribution_major_version == "9"
    - ansible_distribution_version is version('9.6', '==')
  vars:
    become: true

- name: Including task for ubuntu22.04
  include_tasks: ubuntu22_agent2.yml
  when:
    - ansible_distribution == "Ubuntu"
    - ansible_distribution_major_version == "22"
    - ansible_distribution_version is version('22.04', '==')
  vars:
    become: true

# type 1=Workstation, 2=Server, 3=Domain Controller
- name: Including task for Windows Server
  include_tasks: windows_server_agent2.yml
  when:
    - ansible_os_family == 'Windows'

