---
# Install MariaDB/MySQL server
- name: Install MySQL server
  ansible.builtin.yum:
    name: mysql-server
    state: present

# Ensure MySQL service is running
- name: Start and enable MySQL service
  ansible.builtin.systemd:
    name: mysql
    enabled: true
    state: started

# Install MySQL client for importing schema
- name: Install MySQL client
  ansible.builtin.yum:
    name: mysql
    state: present

# Create Zabbix Proxy database
- name: Create Zabbix Proxy database
  community.mysql.mysql_db:
    name: "{{ zabbix_proxy_db }}"
    encoding: utf8mb4
    collation: utf8mb4_bin
    state: present
  vars:
    ansible_python_interpreter: /usr/bin/python3

# Create Zabbix Proxy database user
- name: Create Zabbix Proxy database user
  community.mysql.mysql_user:
    name: "{{ zabbix_proxy_db_user }}"
    password: "{{ zabbix_proxy_db_password }}"
    priv: "{{ zabbix_proxy_db }}.*:ALL"
    host: "localhost"
    state: present
  vars:
    ansible_python_interpreter: /usr/bin/python3

# Import initial schema for Zabbix Proxy
- name: Import initial schema for Zabbix Proxy
  ansible.builtin.command: >
    mysql -u {{ zabbix_proxy_db_user }} -p{{ zabbix_proxy_db_password }} {{ zabbix_proxy_db }} < /usr/share/doc/zabbix-sql-scripts/mysql/proxy.sql
  args:
    creates: "/var/lib/mysql/{{ zabbix_proxy_db }}/history.db"


# - name: Ensure EPEL repository file exists
#   ansible.builtin.stat:
#     path: /etc/yum.repos.d/epel.repo
#   register: epel_repo_file

# - name: Disable Zabbix packages from EPEL repo
#   ansible.builtin.blockinfile:
#     path: /etc/yum.repos.d/epel.repo
#     insertafter: '^\[epel\]'
#     block: |
#       excludepkgs=zabbix*
#   when: epel_repo_file.stat.exists

# - name: Remove old Zabbix repository file if present
#   ansible.builtin.file:
#     path: /etc/yum.repos.d/zabbix.repo
#     state: absent

# - name: Remove old Zabbix release package if installed
#   ansible.builtin.yum:
#     name: zabbix-release
#     state: absent
#     disable_gpg_check: true

# - name: Add Zabbix repository for AlmaLinux 9
#   ansible.builtin.yum:
#     name: "{{ almalinux9_repo }}"
#     state: present
#     disable_gpg_check: true

# # - name: Clean yum cache
# #   ansible.builtin.command: yum clean all

# - name: Install Zabbix Proxy
#   ansible.builtin.yum:
#     name:
#       - zabbix-proxy-mysql 
#       - zabbix-sql-scripts 
#       - zabbix-selinux-policy
#     state: present
#     disable_gpg_check: true

# # Agent Configuration Start from Here
# # - name: Set Zabbix server parameters
# #   lineinfile:
# #     path: /etc/zabbix/zabbix_agent2.conf
# #     regexp: '^Server='
# #     line: "Server={{ zabbix_server }}"
# #   notify: Restart zabbix-agent2

# # - name: Set active Zabbix server parameters
# #   lineinfile:
# #     path: /etc/zabbix/zabbix_agent2.conf
# #     regexp: '^ServerActive='
# #     line: "ServerActive={{ zabbix_server }}"
# #   notify: Restart zabbix-agent2

# # - name: Set agent hostname
# #   lineinfile:
# #     path: /etc/zabbix/zabbix_agent2.conf
# #     regexp: '^Hostname='
# #     line: "Hostname={{ inventory_hostname }}"
# #   notify: Restart zabbix-agent2

# # - name: Deploy custom userparameter config if defined
# #   copy:
# #     content: "{{ item.value }}"
# #     dest: "/etc/zabbix/zabbix_agent2.d/{{ item.key }}.conf"
# #     owner: root
# #     group: root
# #     mode: '0644'
# #   loop: "{{ zabbix_custom_userparams | dict2items }}"
# #   when: zabbix_custom_userparams is defined
# #   notify: Restart zabbix-agent2

# - name: Enable and start Zabbix Proxy
#   ansible.builtin.systemd:
#     name: zabbix-proxy
#     enabled: true
#     state: started


