---
############################################### Zabbix Proxy #####################################################

- name: Ensure EPEL repository file exists
  ansible.builtin.stat:
    path: /etc/yum.repos.d/epel.repo
  register: epel_repo_file

- name: Disable Zabbix packages from EPEL repo
  ansible.builtin.blockinfile:
    path: /etc/yum.repos.d/epel.repo
    insertafter: '^\[epel\]'
    block: |
      excludepkgs=zabbix*
  when: epel_repo_file.stat.exists

- name: Remove old Zabbix repository file if present
  ansible.builtin.file:
    path: /etc/yum.repos.d/zabbix.repo
    state: absent

- name: Remove old Zabbix release package if installed
  ansible.builtin.yum:
    name: zabbix-release
    state: absent
    disable_gpg_check: true

- name: Add Zabbix repository for AlmaLinux 9
  ansible.builtin.yum:
    name: "{{ almalinux9_repo }}"
    state: present
    disable_gpg_check: true

# - name: Clean yum cache
#   ansible.builtin.command: yum clean all

- name: Install Zabbix Proxy
  ansible.builtin.yum:
    name:
      - zabbix-proxy-mysql 
      - zabbix-sql-scripts 
      - zabbix-selinux-policy
    state: present
    disable_gpg_check: true

# Proxy Configuration Start from Here
- name: Set Zabbix server parameters
  lineinfile:
    path: /etc/zabbix/zabbix_proxy.conf
    regexp: '^Server='
    line: "Server={{ zabbix_server }}"

- name: Set Zabbix Proxy Hostname parameters
  lineinfile:
    path: /etc/zabbix/zabbix_proxy.conf
    regexp: '^Hostname='
    line: "Hostname={{ proxy_name }}"

- name: Set Proxy DB Name parameters
  lineinfile:
    path: /etc/zabbix/zabbix_proxy.conf
    regexp: '^DBName='
    line: "DBName={{ zabbix_proxy_db }}"

- name: Set Proxy DB User parameters
  lineinfile:
    path: /etc/zabbix/zabbix_proxy.conf
    regexp: '^DBUser='
    line: "DBUser={{ zabbix_proxy_db_user }}"

- name: Set Proxy DB Password parameters
  lineinfile:
    path: /etc/zabbix/zabbix_proxy.conf
    regexp: '^DBPassword='
    line: "DBPassword={{ zabbix_proxy_db_password }}"

- name: Enable and start Zabbix Proxy
  ansible.builtin.systemd:
    name: zabbix-proxy
    enabled: true
    state: started

############################################### Zabbix Proxy Database Setup #####################################################

- name: Install MySQL Server and Client
  ansible.builtin.yum:
    name: 
      - mysql-server 
      - mysql
    state: present
    disable_gpg_check: true

- name: Start and enable MySQL service
  ansible.builtin.systemd:
    name: mysqld
    enabled: true
    state: started

- name: Set log_bin_trust_function_creators in mysql-server.cnf
  ansible.builtin.lineinfile:
    path: /etc/my.cnf.d/mysql-server.cnf
    regexp: '^log_bin_trust_function_creators'
    line: 'log_bin_trust_function_creators = 1'
    insertafter: '^\[mysqld\]'
    state: present

- name: Ensure socket value is set in client.cnf
  ansible.builtin.lineinfile:
    path: /etc/my.cnf.d/client.cnf
    regexp: '^socket='
    line: 'socket=/var/lib/mysql/mysql.sock'
    insertafter: '^\[client\]'
    state: present

- name: Ensure socket value is set in mysql-server.cnf
  ansible.builtin.lineinfile:
    path: /etc/my.cnf.d/mysql-server.cnf
    regexp: '^socket='
    line: 'socket=/var/lib/mysql/mysql.sock'
    insertafter: '^\[mysqld\]'
    state: present
  
- name: Restart MySQL
  ansible.builtin.systemd:
    name: mysqld
    state: restarted

- name: Create Zabbix Proxy database and user
  ansible.builtin.shell: |
    mysql -uroot <<EOF
    CREATE DATABASE IF NOT EXISTS {{ zabbix_proxy_db }} CHARACTER SET utf8 COLLATE utf8_bin;
    CREATE USER IF NOT EXISTS '{{ zabbix_proxy_db_user }}'@'localhost' IDENTIFIED BY '{{ zabbix_proxy_db_password }}';
    GRANT ALL PRIVILEGES ON {{ zabbix_proxy_db }}.* TO '{{ zabbix_proxy_db_user }}'@'localhost';
    FLUSH PRIVILEGES;
    EOF
  args:
    executable: /bin/bash
  become: true

- name: Check if Zabbix Proxy schema already exists
  ansible.builtin.shell: |
    mysql -u{{ zabbix_proxy_db_user }} -p{{ zabbix_proxy_db_password }} \
      -e "SHOW TABLES LIKE 'proxy_history';" {{ zabbix_proxy_db }} | wc -l
  args:
    executable: /bin/bash
  register: schema_exists
  changed_when: false
  become: true

- name: Import Zabbix Proxy initial schema
  ansible.builtin.shell: |
    cat /usr/share/zabbix/sql-scripts/mysql/proxy.sql | \
    mysql --default-character-set=utf8mb4 \
      -u'{{ zabbix_proxy_db_user }}' \
      -p'{{ zabbix_proxy_db_password }}' \
      {{ zabbix_proxy_db }}
  args:
    executable: /bin/bash
  become: true
  when: schema_exists.stdout | int == 0

# Restart Zabbix Proxy
- name: Restart Zabbix Proxy service
  ansible.builtin.systemd:
    name: zabbix-proxy
    state: restarted

# Restart MySQL Service
- name: Restart MySQL service
  ansible.builtin.systemd:
    name: mysqld
    state: restarted