---
- name: Deploy Zabbix Agent
  hosts: corp
  become: true

  vars:
    zabbix_proxy: false
    # zabbix_url: "http://zabbix.ms.com/zabbix"
    # zabbix_user: "{{ zabbix_username }}"
    # zabbix_pass: "{{ zabbix_password }}"

  pre_tasks:

    - name: Dynamically set zabbix_server based on zabbix_proxy flag
      set_fact:
        zabbix_server: "{{ '10.0.0.37' if zabbix_proxy else '10.0.0.36' }}"

    - debug:
        msg: "Using Zabbix Server: {{ zabbix_server }} (proxy mode = {{ zabbix_proxy }})"

  roles:
    - zabbix-agent

  tasks:

    - name: Register host via Zabbix Proxy
      include_role:
        name: zabbix-ui
        tasks_from: add_host_by_proxy.yml
      when: zabbix_proxy | bool

    - name: Register host via Zabbix Server
      include_role:
        name: zabbix-ui
        tasks_from: add_host.yml
      when: not zabbix_proxy | bool
