---
- name: Deploy Zabbix Agent
  hosts: corp
  become: true

  vars:
    zabbix_proxy: false    # Set to true if monitored via Zabbix Proxy
    monitored_by: 0        # 0 = Zabbix Server, 1 = Zabbix Proxy
    proxy_id: 7        # ID of the Zabbix Proxy to monitor through

    zabbix_url: "http://zabbix.ms.com/zabbix"
    zabbix_user: "{{ zabbix_username }}"
    zabbix_pass: "{{ zabbix_password }}"

  pre_tasks:
    - name: Dynamically set zabbix_server based on zabbix_proxy flag
      set_fact:
        zabbix_server: "{{ '10.0.0.37' if zabbix_proxy else '10.0.0.36' }}"
    - debug:
        msg: "Using Zabbix Server: {{ zabbix_server }} (proxy mode = {{ zabbix_proxy }})"

  roles:
    - zabbix-agent
    - zabbix-ui

