---
- name: Deploy OpenDKIM for Universal Signing with Key Retrieval
  hosts: localhost
  become: true
  vars:
    dkim_primary_domain: "example.com"
    dkim_selector: "examplealerts"
    dkim_key_dir: "/etc/opendkim/keys"
    opendkim_socket: "inet:8891@localhost"

    trusted_hosts:
      - "10.0.0.36"
      - "zabbix.example.com"

    signing_domains:
      - "example.com"
      - "mail.example.com"
      - "hub.example.com"

  tasks:
    - name: Install OpenDKIM packages
      apt:
        name:
          - opendkim
          - opendkim-tools
        state: present
        update_cache: yes

    - name: Create OpenDKIM directory structure
      file:
        path: "{{ item }}"
        state: directory
        owner: opendkim
        group: opendkim
        mode: '0750'
      loop:
        - "/etc/opendkim"
        - "{{ dkim_key_dir }}/{{ dkim_primary_domain }}"

    - name: Generate OpenDKIM Private Key (if it doesn't exist)
      command: >
        opendkim-genkey -b 2048 -d {{ dkim_primary_domain }} -s {{ dkim_selector }} -D {{ dkim_key_dir }}/{{ dkim_primary_domain }}
      args:
        creates: "{{ dkim_key_dir }}/{{ dkim_primary_domain }}/{{ dkim_selector }}.private"

    - name: Ensure correct permissions on private key
      file:
        path: "{{ dkim_key_dir }}/{{ dkim_primary_domain }}/{{ dkim_selector }}.private"
        owner: opendkim
        group: opendkim
        mode: '0600'

    # --- OpenDKIM configuration using lineinfile ---
    - name: Set Syslog
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^Syslog\s*'
        line: 'Syslog yes'
        create: yes
      notify: Restart OpenDKIM

    - name: Set Socket
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^Socket\s*'
        line: "Socket {{ opendkim_socket }}"
        create: yes
      notify: Restart OpenDKIM

    - name: Set UserID
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^UserID\s*'
        line: 'UserID opendkim:opendkim'
        create: yes
      notify: Restart OpenDKIM

    - name: Set Domain
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^Domain\s*'
        line: "Domain {{ dkim_primary_domain }}"
        create: yes
      notify: Restart OpenDKIM

    - name: Set KeyTable path
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^KeyTable\s*'
        line: 'KeyTable refile:/etc/opendkim/KeyTable'
        create: yes
      notify: Restart OpenDKIM

    - name: Set SigningTable path
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^SigningTable\s*'
        line: 'SigningTable refile:/etc/opendkim/SigningTable'
        create: yes
      notify: Restart OpenDKIM

    - name: Set TrustedHosts path
      lineinfile:
        path: /etc/opendkim.conf
        regexp: '^InternalHosts\s*'
        line: 'InternalHosts refile:/etc/opendkim/TrustedHosts'
        create: yes
      notify: Restart OpenDKIM

    # --- KeyTable ---
    - name: Ensure KeyTable entry exists
      lineinfile:
        path: /etc/opendkim/KeyTable
        line: "{{ dkim_selector }}._domainkey.{{ dkim_primary_domain }} {{ dkim_primary_domain }}:{{ dkim_selector }}:{{ dkim_key_dir }}/{{ dkim_primary_domain }}/{{ dkim_selector }}.private"
        create: yes
        state: present
      notify: Restart OpenDKIM

    # --- SigningTable ---
    - name: Ensure SigningTable entries exist
      blockinfile:
        path: /etc/opendkim/SigningTable
        block: |
          {% for domain in signing_domains %}
          *@{{ domain }} {{ dkim_selector }}._domainkey.{{ dkim_primary_domain }}
          {% endfor %}
        create: yes
      notify: Restart OpenDKIM

    # --- TrustedHosts ---
    - name: Ensure TrustedHosts entries exist
      blockinfile:
        path: /etc/opendkim/TrustedHosts
        block: |
          127.0.0.1
          localhost
          ::1
          {{ ansible_default_ipv4.address }}
          {% for host in trusted_hosts %}
          {{ host }}
          {% endfor %}
        create: yes
      notify: Restart OpenDKIM

    # --- Ensure services are running ---
    - name: Ensure OpenDKIM service is enabled and started
      service:
        name: opendkim
        state: started
        enabled: yes

    - name: Configure Postfix to use OpenDKIM Milter
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: "^{{ item.key }}\\s*="
        line: "{{ item.key }} = {{ item.value }}"
      loop:
        - { key: 'smtpd_milters', value: '{{ opendkim_socket }}' }
        - { key: 'non_smtpd_milters', value: '$smtpd_milters' }
        - { key: 'milter_default_action', value: 'accept' }
      notify: Restart Postfix

    # --- Display DKIM public key ---
    - name: Read generated Public Key for DNS
      slurp:
        src: "{{ dkim_key_dir }}/{{ dkim_primary_domain }}/{{ dkim_selector }}.txt"
      register: dkim_public_key_b64

    - name: Display Public Key for DNS
      debug:
        msg:
          - "--- DKIM PUBLIC KEY FOR YOUR DNS ---"
          - "Domain: {{ dkim_primary_domain }}"
          - "Selector: {{ dkim_selector }}"
          - "Record Content:"
          - "{{ dkim_public_key_b64['content'] | b64decode }}"

  handlers:
    - name: Restart OpenDKIM
      service:
        name: opendkim
        state: restarted

    - name: Restart Postfix
      service:
        name: postfix
        state: restarted
