{
    "jsonrpc": "2.0",
    "method": "host.create",
    "params": {
        "host": "test_hostname",
        "interfaces": [
            {
                "type": 1,
                "main": 1,
                "useip": 1,
                "ip": "10.0.99.99",
                "dns": "",
                "port": "10050"
            }
        ],
        "groups": [
            {
                "groupid": "2"
            }
        ],
        "tags": [
            {
                "tag": "os",
                "value": "linux"
            }
        ],
        "templates": [
            {
                "templateid": "10273"
            },
            {
                "templateid": "10624"

            }
        ],
        "tls_accept": 4,
        "tls_connect": 4,
        "monitored_by": 1,
        "proxyid": 10530
        }
        ,"auth":"{{ auth_token }}",
    "id": 1
}
